<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>学生主页面</title>
	<!--时间线样式-->
	<link rel="stylesheet" href="/static/student/css/style.css">
	<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/admin/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/static/admin/css/style.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/student/css/wel.css"/>
	<link href="/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
	<script src="/static/jquery/js/jquery-1.9.1.min.js" th:src="@{/static/jquery/js/jquery-1.9.1.min.js}"></script>
</head>
<script type="text/javascript">
</script>
<body>
	<!-- header开始 -->
	<div class="head">
		<div class="head-logo">

		</div>
		<header class="lyear-layout-header">
			<nav class="navbar navbar-default">
		<div class="head-nav">
			<ul class="aha">
				<li><a href="/student/toIndex">首页</a></li>
				<li><a href="#noticeShow">最新通知</a></li>
				<li><a href="#teacherShow">优秀教师</a></li>
				<li><a href="#studentShow">优秀学生</a></li>
				<li><a href="#recruitShow">企业招聘</a></li>
				<li><a href="#goodShow">物品兑换</a></li>
				<li><a href="#about">关于我们</a></li>
			</ul>
		</div>
		<div class="topbar">
			<ul class="topbar-right">
				<li class="dropdown dropdown-profile">
					<a href="javascript:void(0)" data-toggle="dropdown">
						<img class="img-avatar img-avatar-48 m-r-10" th:src="${#session.getAttribute('imagePath')}" th:alt="${#session.getAttribute('realName')}" />
						<span> <span th:text="${#session.getAttribute('no')}"/>:<span th:text="${#session.getAttribute('realName')}"/><span class="caret"></span></span>
					</a>
					<input type="hidden" id="managerId" th:value="${#session.getAttribute('id')}">
					<ul class="dropdown-menu dropdown-menu-right">
						<li> <a onclick="selectMsg()"><i class="mdi mdi-account"></i> 个人信息</a> </li>
						<li> <a onclick="toUpdatePwdPage()"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
						<li> <a onclick="toUpdatePwdPage()"><i class="mdi mdi-lock-outline"></i> 兑换记录</a> </li>
						<li class="divider"></li>
						<li> <a href="/admin/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
					</ul>
				</li>
			</ul>
		</div>
			</nav>
		</header>
	</div>
	<div class="cus-body">
		<div class="box1">
			<div class="title-box">
				<div class="div1">
					<div id="div2" class="div01">1</div>
					<div id="div3" class="div01">2</div>
					<div id="div4" class="div01">3</div>
					<img id="img1" class="img01" src="/static/admin/images/4.jpg">
					<img id="img2" class="img01" src="/static/admin/images/1.jpeg">
					<img id="img3" class="img01" src="/static/admin/images/2.jpg">
					<img id="img4" class="img01" src="/static/admin/images/3.jpg">
				</div>
			</div>
		</div>
		<div class="box2" id="noticeShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>最新通知</span><br>
					</div>
					<div class="more" th:if="${noticeList} != null">
						<a onclick="" data-toggle="modal" data-target="#toMoreNotice">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div class="card-body" th:each="notice:${noticeList}">
						<div class="alert alert-success" role="alert">
							[<span th:text="${notice.title}"></span>] [[<span th:text="${notice.content}"></span>]] --------<span th:text="${notice.createTime}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box2" id="teacherShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>优秀教师</span><br>
					</div>
					<div class="more">
						<a data-toggle="modal" data-target="#toMoreTeacher">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div class="doc" th:each="teacher:${teacherList}">
						<div><img th:src="${teacher.imagePath}" width="80px" height="120px" alt=""></div>
						<div class="detail"><p th:text="${teacher.realName}"></p></div>
					</div>
				</div>
			</div>
		</div>
		<div class="box3" id="studentShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>医疗资讯</span><br>
						<span style="font-size: 12px; color: white; font-weight: 100;">NEWS</span>
					</div>
					<div class="more">
						<a href="/user/cus/toNewsList">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div class="container">
						<div class="timeline-item" th:each="student:${studentList}" th:attr="date-is=${news.getNewsTime()}">
							<a style="color: #000000" th:href="@{'/user/cus/toNews?newsId='+${news.getNewsId()}}">
								<h1 th:src="${student.imagePath}">新闻标题</h1>
							</a>
							<p th:text="${student.realName}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 关于我们板块 -->
		<div class="box5" id="about">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>关于我们</span><br>
						<span style="font-size: 12px; color: #333333; font-weight: 100;">ABOUT</span>
					</div>
				</div>
				<div class="content">
					<div class="detail">
						<p>
							<span>私人牙医</span>牙科诊所自创建伊始就非常注重就诊环境的舒适，致力于在轻松愉快的氛围为您提供优质人性的服务。宽敞明亮又极具现代化气息的候诊大堂、传统古典式家具的装修风格、舒缓的背景音乐 能让您得到全身心的放松。专为儿童设立的娱乐天地，VIP候诊专区，独立咨询室，以及专享停车位，充分体现了京典口腔的细节服务和人文关怀。十间宽敞独立的诊间为您营造幽雅、私密的诊疗环境，会所式的管理为您提供温馨友好的关怀，京典口腔每一位员工共同努力为您打造舒适、贴心的精致化医疗服务。
							一路走来，始终如一。提供高品质的牙科保健服务，为您打造健康的口腔，塑造阳光般灿烂的笑容，成就您辉煌的事业人生，是京典口腔一直以来的追求和理想。世间本没有完美，但我们要始终追求完美。秉持这一服务理念，我们用心接待每一位客人……
							期待您的到来！
						</p>
					</div>
					<div class="photo">
						<img src="/img/back1.webp" >
					</div>
				</div>
			</div>
		</div>
		<div class="box4" id="contact">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>联系我们</span><br>
						<span style="font-size: 12px; color: #333333; font-weight: 100;">Content Us</span>
					</div>
					<!-- <div class="more">
						<a href="#">查看更多——></a>
					</div> -->
				</div>
				<div class="content">
					<div class="mess">
						<div class="tit">
							<span>私人牙医-牙科诊所</span>
						</div>
						<p>
							地址：苏州市金鸡湖大道00号<br>
							邮编：200000<br>
							电话：400-8000-8000<br>
							手机：133-0000-0000<br>
							邮箱：info@email.com
						</p>
					</div>
					<div class="forms">
						<form action="" method="post">
							<input type="text" placeholder="姓名*">
							<input type="text" placeholder="电话*"><br>
							<input type="text" placeholder="地址*">
							<input type="text" placeholder="邮箱*"><br>
							<textarea rows="" cols="" placeholder="详情*"></textarea><br>
							<button type="button">发送</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="toMoreNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3 id="myModalLabel">更多通知</h3>
		        </div>
		        <div class="modal-body">
					<table style="margin-top: -110px" class="table table-striped" border="0">
						<tr>
							<th width="30%">通知主题</th>
							<th width="20%">通知类型</th>
							<th width="40%">通知内容</th>
							<th width="10%">时间</th>
						</tr>
			            <div th:each="notice:${noticeAllList}">
							<tr>
								<td><span th:text="${notice.title}"></span></td>
								<td>
											<span th:if="${notice.noticeType} eq '1'">系统升级</span>
											<span th:if="${notice.noticeType} eq '2'">学校通知</span>
											<span th:if="${notice.noticeType} eq '3'">统计数据</span>
								</td>
								<td><span  th:text="${notice.content}"></span></td>
								<td><span th:text="${notice.createTime}"></span></td>
				            </tr>    
						</div>               
			       </table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		      </div>
		    </div>
	</div>

	<div class="modal fade" id="toMoreTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3 id="">更多通知</h3>
		        </div>
		        <div class="modal-body">
		<table style="margin-top: -110px" class="table table-bordered table-striped" border="0">
			<tr>
				<th>通知主题</th>
				<th>通知类型</th>
				<th>通知内容</th>
				<th>时间</th>
			</tr>
			            <div th:each="notice:${noticeAllList}">
			<tr>
				<td><span th:text="${notice.title}"></span></td>
				<td>
					<span th:if="${notice.noticeType} eq '1'">系统升级</span>
					<span th:if="${notice.noticeType} eq '2'">学校通知</span>
					<span th:if="${notice.noticeType} eq '3'">统计数据</span>
				</td>
				<td><span  th:text="${notice.content}"></span></td>
				<td><span th:text="${notice.createTime}"></span></td>
				            </tr>    
		</div>               
			       </table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		      </div>
		    </div>
	</div>
	<script src="/static/layui/layui.all.js"></script>
	<script th:inline="javascript">
		var $ = layui.jquery;
	</script>
</body>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	.div1{
		width: 1200px;
		height: 600px;
		border: 1px solid red;
		margin: 0 auto;
		position: relative;
	}
	.div01{
		width: 20px;
		height: 20px;
		box-sizing: border-box;
		opacity:0.5;
		line-height: 20px;
		text-align: center;
		border-radius: 20px;
		background-color: white;
		z-index: 10;
	}
	#div2{
		position:absolute;
		right: 70px;
		bottom: 10px;
	}
	#div3{
		position:absolute;
		right: 40px;
		bottom: 10px;
	}
	#div4 {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	#div2:hover ~ #img1{
		z-index: 2;
	}
	#div2:hover{
		opacity:1;
	}
	#div3:hover ~ #img2{
		z-index: 2;
	}
	#div3:hover{
		opacity:1;
	}
	#div4:hover ~ #img3{
		z-index: 2;
	}
	#div4:hover{
		opacity:1;
	}
	.img01{
		position:absolute;
	}
	img{
		width: 1200px;
		height: 600px;
	}
</style>
</html>
