<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>学生主页面</title>
	<!--时间线样式-->
	<link rel="stylesheet" href="/static/student/css/style.css">
	<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/admin/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/static/admin/css/style.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/student/css/wel.css"/>
	<link href="/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
	<script src="/static/jquery/js/jquery-1.9.1.min.js" th:src="@{/static/jquery/js/jquery-1.9.1.min.js}"></script>
	<script src="/static/jquery/js/jquery-form.js" th:src="@{/static/jquery/js/jquery-form.js}"></script>
</head>
<script type="text/javascript">
</script>
<body>
	<!-- header开始 -->
	<div class="head">
		<div class="head-logo">

		</div>
		<header class="lyear-layout-header">
			<nav class="navbar navbar-default">
				<div class="head-nav">
					<ul class="aha">
						<li><a href="/student/toIndex">首页</a></li>
						<li><a href="#noticeShow">最新通知</a></li>
						<li><a href="#teacherShow">优秀教师</a></li>
						<li><a href="#studentShow">优秀学生</a></li>
						<li><a href="#recruitShow">企业招聘</a></li>
						<li><a href="#goodShow">物品兑换</a></li>
						<li><a href="#about">关于我们</a></li>
						<li th:if="${createRecord} != null"><a onclick="" data-toggle="modal" data-target="#toAddRecord">添加统计信息</a> </li>
					</ul>
				</div>
				<div class="topbar">
					<ul class="topbar-right">
						<li class="dropdown dropdown-profile">
							<a href="javascript:void(0)" data-toggle="dropdown">
								<img class="img-avatar img-avatar-48 m-r-10" th:src="${#session.getAttribute('imagePath')}" th:alt="${#session.getAttribute('realName')}" />
								<span> <span th:text="${#session.getAttribute('no')}"/>:<span th:text="${#session.getAttribute('realName')}"/><span class="caret"></span></span>
							</a>
							<input type="hidden" id="managerId" th:value="${#session.getAttribute('id')}">
							<ul class="dropdown-menu dropdown-menu-right">
								<li> <a onclick="" data-toggle="modal" data-target="#toShowStudentMsg"><i class="mdi mdi-account"></i>个人信息</a> </li>
								<li> <a onclick="" data-toggle="modal" data-target="#toUpdatePassword"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
								<li> <a onclick="" data-toggle="modal" data-target="#toSelectRedeem"><i class="mdi mdi-lock-outline"></i> 兑换记录</a> </li>
								<li class="divider"></li>
								<li> <a href="/user/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</div>
	<div class="cus-body">
		<div class="box1">
			<div class="title-box">
				<div class="div1">
					<div id="div2" class="div01">1</div>
					<div id="div3" class="div01">2</div>
					<div id="div4" class="div01">3</div>
					<img id="img1" class="img01" src="/static/admin/images/4.jpg">
					<img id="img2" class="img01" src="/static/admin/images/1.jpeg">
					<img id="img3" class="img01" src="/static/admin/images/2.jpg">
					<img id="img4" class="img01" src="/static/admin/images/3.jpg">
				</div>
			</div>
		</div>
		<div class="box21" id="noticeShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>&最新通知&</span><br>
					</div>
					<div class="more" th:if="${noticeList} != null">
						<a onclick="" data-toggle="modal" data-target="#toMoreNotice">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div style="padding: 0px 0px;" th:each="notice:${noticeList}">
						<div class="alert alert-success" role="alert">
							[<span th:text="${notice.title}"></span>] [[<span th:text="${notice.content}"></span>]] --------<span th:text="${notice.createTime}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box2" id="teacherShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>*优秀教师*</span><br>
					</div>
					<!--<div class="more">-->
						<!--<a data-toggle="modal" data-target="#toMoreTeacher">查看更多——></a>-->
					<!--</div>-->
				</div>
				<div class="content">
					<div class="doc" th:each="teacher:${teacherList}">
						<div><img th:src="${teacher.imagePath}" alt=""></div>
						<div class="detail"><b><p th:text="${teacher.realName}+'---'+${teacher.college}" style="font-size: 16px" /></b></div>
						<div class="detail2" th:if="${teacher.description} != null">
							<p style="font-size: 15px" th:text="'个人描述：'+${teacher.description}"></p>
						</div>
						<div class="detail2" th:if="${teacher.description} == null">
							<p style="font-size: 15px">暂无描述</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box2" id="studentShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>%优秀学生%</span><br>
						<span style="font-size: 12px; color: white; font-weight: 100;">NEWS</span>
					</div>
					<!--<div class="more">-->
						<!--<a href="/user/cus/toNewsList">查看更多——></a>-->
					<!--</div>-->
				</div>
				<div class="content">
					<div class="doc" th:each="student:${studentList}">
						<div><img th:src="${student.imagePath}" alt=""></div>
						<div class="detail"><b><p th:text="${student.realName}+'---'+${student.college}" style="font-size: 16px" /></b></div>
						<div class="detail2" th:if="${student.description} != null">
							<p style="font-size: 15px" th:text="'个人描述：'+${student.description}"></p>
						</div>
						<div class="detail2" th:if="${student.description} == null">
							<p style="font-size: 15px">暂无描述</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box21" id="recruitShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>$最新招聘$</span><br>
					</div>
					<div class="more" th:if="${recruitList} != null">
						<a onclick="" data-toggle="modal" data-target="#toMoreRecruit">查看更多——></a>
					</div>
				</div>
				<div class="modal-body">
					<table class="table table-striped" border="0">
						<tr>
							<th width="20%">公司名称</th>
							<th width="40%">公司描述</th>
							<th width="25%">招聘官网</th>
							<th width="15%">状态</th>
						</tr>
						<div th:each="recruit:${recruitList}">
							<tr>
								<td><span th:text="${recruit.name}"></span></td>
								<td><span th:text="${recruit.description}"></span> </td>
								<td><span th:text="${recruit.url}"></span> </td>
								<td>
									<span th:if="${recruit.status} eq '0'">正在招聘</span>
									<span th:if="${recruit.status} eq '1'">已结束</span>
								</td>
							</tr>   
						</div>			             
					</table>                
				</div>
			</div>
		</div>
		<div class="box2" id="goodShow">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>#物品兑换#</span><br>
					</div>
					<!--<div class="more">-->
						<!--<a href="/user/cus/toNewsList">查看更多——></a>-->
					<!--</div>-->
				</div>
				<div class="content">
					<div class="doc" th:each="goods:${goodsList}">
						<a href="" data-toggle="modal" data-target="#toRedeemPage" th:onclick="'javascript:setValue('+${goods.id}+')'">
							<div><img th:src="${goods.imagePath}" alt=""></div>
							<div class="detail"><b><p th:text="${goods.name}" style="font-size: 16px" /></b>
							</div>
							<div class="detail2">
								<p style="font-size: 15px" th:text="'所需积分：'+${goods.credits}+'   剩余件数：'+${goods.num}"></p>
							</div>
							<div class="detail2" th:if="${goods.description} != null">
								<p style="font-size: 15px" th:text="${goods.description}"></p>
							</div>
							<div class="detail2" th:if="${goods.description} == null">
								<p style="font-size: 15px">暂无描述</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 关于我们板块 -->
		<div class="box5" id="about">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>@关于我们@</span><br>
						<span style="font-size: 12px; color: #333333; font-weight: 100;">ABOUT</span>
					</div>
				</div>
				<div class="content">
					<div class="detail">
						<p>
							<span>大学生成长信息跟踪系统</span>为了适应社会的发展，大学连年扩招，导致近年来专业开设数和大学毕业生数猛增，但其中不乏滥竽充数者。根据教育部工程最近提出的工程认证的要求，大学生培养是否达成目标，要看毕业五年之后的结果。但这个目标却不容易达成，由于没有学生毕业后的具体就业创业信息，就无法通过数据分析得出准确可靠的评估结果为此设计一个大学生从入学到毕业后五年或者更长时间的成长跟踪平台是非常有必要的。
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br>
	</div>


	<div class="modal fade" id="toMoreNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3 id="myModalLabel">更多通知</h3>
		        </div>
		        <div class="modal-body">
					<table style="margin-top: -110px" class="table table-striped" border="0">
						<tr>
							<th width="30%">通知主题</th>
							<th width="20%">通知类型</th>
							<th width="40%">通知内容</th>
							<th width="10%">时间</th>
						</tr>
			            <div th:each="notice:${noticeAllList}">
							<tr>
								<td><span th:text="${notice.title}"></span></td>
								<td>
											<span th:if="${notice.noticeType} eq '1'">系统升级</span>
											<span th:if="${notice.noticeType} eq '2'">学校通知</span>
											<span th:if="${notice.noticeType} eq '3'">统计数据</span>
								</td>
								<td><span  th:text="${notice.content}"></span></td>
								<td><span th:text="${notice.createTime}"></span></td>
				            </tr>    
						</div>               
			       </table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		      </div>
		  </div>
	</div>

	<div class="modal fade" id="toMoreTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3 id="">更多教师信息</h3>
		        </div>
		        <div class="modal-body">
					<table style="margin-top: -110px" class="table table-bordered table-striped" border="0">
						<tr>
							<th>通知主题</th>
							<th>通知类型</th>
							<th>通知内容</th>
							<th>时间</th>
						</tr>
						<div th:each="notice:${noticeAllList}">
							<tr>
								<td><span th:text="${notice.title}"></span></td>
								<td>
									<span th:if="${notice.noticeType} eq '1'">系统升级</span>
									<span th:if="${notice.noticeType} eq '2'">学校通知</span>
									<span th:if="${notice.noticeType} eq '3'">统计数据</span>
								</td>
								<td><span  th:text="${notice.content}"></span></td>
								<td><span th:text="${notice.createTime}"></span></td>
							</tr>    
						</div>			             
					</table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		    </div>
		</div>
	</div>

	<div class="modal fade" id="toMoreRecruit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3>更多招聘信息</h3>
		        </div>
		        <div class="modal-body">
					<table class="table table-striped" border="0">
						<tr>
							<th width="20%">公司名称</th>
							<th width="40%">公司描述</th>
							<th width="25%">招聘官网</th>
							<th width="15%">状态</th>
						</tr>
						<div th:each="recruit:${recruitList}">
							<tr>
								<td><span th:text="${recruit.name}"></span></td>
								<td><span th:text="${recruit.description}"></span> </td>
								<td><span th:text="${recruit.url}"></span> </td>
								<td>
									<span th:if="${recruit.status} eq '0'">正在招聘</span>
									<span th:if="${recruit.status} eq '1'">已结束</span>
								</td>
							</tr>   
						</div>			             
					</table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		   </div>
		</div>
	</div>

	<script type="text/javascript">
        $(document).ready(function() {
            $("#addWriteRecord").ajaxForm(function(data){
                var d = JSON.parse(data);
                layer.alert(d.message);
                if (d.status == '0'){
                    setTimeout(setTimeout(function(){
                        location.reload();
                    },1000));
                }
            });
        });
	</script>

	<div class="modal fade" id="toAddRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3>请填写记录</h3>
		        </div>
		        <div class="card-body1">
					<form id="addWriteRecord" action="/admin/writeRecord/add" method="post" class="row">
						<div class="form-group col-md-12">
							<label for="related">是否从事与大学专业相关的工作或者学习</label>
							<div class="form-controls">
								<select name="related" class="form-control" id="related">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="degree">当前最高学历</label>
							<div class="form-controls">
								<select name="degree" class="form-control" id="degree">
									<option value="0">大学本科</option>
									<option value="1">研究生</option>
									<option value="2">博士</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="type">当前状态</label>
							<div class="form-controls">
								<select name="type" class="form-control" id="type">
									<option value="0">工作</option>
									<option value="1">学习</option>
									<option value="2">其他</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="place">所在地区</label>
							<input type="text" class="form-control" id="place" name="place" value="" placeholder="请输入所处位置" />
						</div>
						<div class="form-group col-md-12">
							<label for="home">是否在本省份</label>
							<div class="form-controls">
								<select name="home" class="form-control" id="home">
									<option value="0">是</option>
									<option value="1">否</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="salary">月薪范围</label>
							<div class="form-controls">
								<select name="salary" class="form-control" id="salary">
									<option value="0">5000以下</option>
									<option value="1">5000~8000</option>
									<option value="2">8000~12000</option>
									<option value="3">12000~20000</option>
									<option value="4">20000以上</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="comment">备注</label>
							<textarea class="form-control" id="comment" name="comment" rows="5" value="" placeholder="备注"></textarea>
						</div>
						<div class="form-group col-md-12" style="align-content: center;">
							<button type="submit" class="btn btn-primary ajax-post" style="align-content: center" target-form="add-form">确 定</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
				</div>
		   </div>
		</div>
	</div>

	<script type="text/javascript">
        $(document).ready(function() {
            $("#form1").ajaxForm(function(data){
                var d = JSON.parse(data);
                layer.alert(d.message);
                if (d.status == '0'){
                    setTimeout(setTimeout(function(){
                        location.reload();
                    },1000));
				}
            });
        });
	</script>


	<div class="modal fade" id="toShowStudentMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3>个人信息</h3>
		        </div>
		        <div class="card-body1">
					<form id="form1" action="/student/updateStudentMsg" method="post" class="row">
						<div class="form-group col-md-12">
							<label>姓名</label>
							<input type="text" class="form-control" name="name" disabled="disabled" th:value="${student.realName}" />
						</div>
						<div class="form-group col-md-12">
							<label>学号</label>
							<input type="text" class="form-control" name="no" disabled="disabled" th:value="${student.no}" />
						</div>
						<div class="form-group col-md-12">
							<label>积分数</label>
							<input type="text" class="form-control" name="credits" disabled="disabled" th:value="${student.credits}" />
						</div>
						<br><br><br><br>
						<div class="edit-avatar form-group col-md-12">
							<img th:src="${#session.getAttribute('imagePath')}" alt="..." class="img-avatar">
							<div class="avatar-divider"></div>
							<div class="edit-avatar-content">
								<input class="btn btn-default" type="file" id="image" name="image" style="display:'none';" />
								<p class="m-0">选择一张你喜欢的图片，上传图片大小不能超过2M。</p>
							</div>
						</div>
						<br><br><br><br>
						<div class="form-group col-md-12">
							<label>所在学院</label>
							<input type="text" class="form-control" name="college" disabled="disabled" th:value="${student.college}" />
						</div>
						<div class="form-group col-md-12">
							<label>班级</label>
							<input type="text" class="form-control" name="classNo" disabled="disabled" th:value="${student.classNo}" />
						</div>
						<div class="form-group col-md-12">
							<label>联系方式</label>
							<input type="text" class="form-control" name="tel" th:value="${student.tel}" />
						</div>
						<div class="form-group col-md-12">
							<label>邮箱</label>
							<input type="email" class="form-control" name="email" th:value="${student.email}" />
						</div>
						<div class="form-group col-md-12">
							<label>个人描述</label>
							<textarea class="form-control" name="description" rows="5" th:text="${student.description}" placeholder="个人描述"></textarea>
						</div>
						<div class="form-group col-md-12" style="align-content: center;">
							<button type="submit" class="btn btn-primary ajax-post" style="align-content: center" target-form="add-form">确 定</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
				</div>
		   </div>
		</div>
	</div>

	<script type="text/javascript">
        $(document).ready(function() {
            $("#form2").ajaxForm(function(data){
                var d = JSON.parse(data);
                layer.alert(d.message);
                if (d.status == '0'){
                    setTimeout(setTimeout(function(){
                        location.reload();
                    },1000));
                }
            });
        });
	</script>

	<div class="modal fade" id="toUpdatePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3>修改密码</h3>
		        </div>
		        <div class="card-body1">
					<form id="form2" action="/student/updateStudentPasswordMsg" method="post" class="row">
						<div class="form-group col-md-12">
							<label>老密码</label>
							<input type="password" class="form-control" name="oldpwd" placeholder="输入账号的原登录密码" />
						</div>
						<div class="form-group col-md-12">
							<label>新密码</label>
							<input type="password" class="form-control" name="newpwd" placeholder="输入账号的新登录密码" />
						</div>
						<div class="form-group col-md-12">
							<label>确认新密码</label>
							<input type="password" class="form-control" name="confirmpwd" placeholder="请确认新的密码"/>
						</div>
						<div class="form-group col-md-12" style="align-content: center;">
							<button type="submit" class="btn btn-primary ajax-post" style="align-content: center" target-form="add-form">确 定</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
				</div>
		   </div>
		</div>
	</div>

	<div class="modal fade" id="toSelectRedeem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" >
		    <div class="modal-content">
		        <div class="modal-header">
		            <h3>个人兑换记录</h3>
		        </div>
		        <div class="modal-body">
					<table style="margin-top: -40px" class="table table-striped" border="0">
						<tr>
							<th>兑换物品</th>
							<th>物品图片</th>
							<th>状态</th>
							<th>兑换时间</th>
						</tr>
						<div th:each="redeem:${redeemList}">
							<tr>
								<td><span th:text="${redeem.goods.name}"></span></td>
								<td>
									<img th:src="${redeem.goods.imagePath}" alt="..." class="img-avatar">
								</td>
								<td>
									<span th:if="${redeem.status} eq '1'">正在处理</span>
									<span th:if="${redeem.status} eq '2'">已完成</span>
								</td>
								<td><span th:text="${redeem.createTime}"></span></td>
							</tr> 
						</div>                   
			       </table>                
		        </div>
		        <div class="modal-footer">                        
		            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		        </div>
		   </div>
		</div>
	</div>


	<script type="text/javascript">
        $(document).ready(function() {
            $("#form3").ajaxForm(function(data){
                var d = JSON.parse(data);
                layer.alert(d.message);
                setTimeout(setTimeout(function(){
                    location.reload();
                    window.location.href="/student/toIndex";
                },3000));
            });
        });

        $('#toRedeemPage').modal("hide");
        function setValue(id) {
            console.log(id);
			$("#toRedeemId").val(id);
        }
	</script>


	<div class="modal fade" id="toRedeemPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog" style="width: 400px;margin: 300px auto">
		    <div class="modal-content" style="width: 400px;">
		        <div class="card-body1">
					<form id="form3" action="/student/redeem/add" method="post" class="row">
						<div class="form-group col-md-12">
							<label>您确定要进行兑换吗？一旦兑换将不予退还</label>
						</div>
						<input type="hidden" id="toRedeemId" name="toRedeemId" value="">
						<div class="form-group col-md-12" style="align-content: center;">
							<button type="submit" class="btn btn-primary ajax-post" style="align-content: center" target-form="add-form">确 定</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
	</div>
		   </div>
	</div>
	</div>
	<script src="/static/layui/layui.all.js"></script>
	<script th:inline="javascript">
		var $ = layui.jquery;
	</script>
</body>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	.div1{
		width: 1200px;
		height: 600px;
		border: 1px solid red;
		margin: 0 auto;
		position: relative;
	}
	.div01{
		width: 20px;
		height: 20px;
		box-sizing: border-box;
		opacity:0.5;
		line-height: 20px;
		text-align: center;
		border-radius: 20px;
		background-color: white;
		z-index: 10;
	}
	#div2{
		position:absolute;
		right: 70px;
		bottom: 10px;
	}
	#div3{
		position:absolute;
		right: 40px;
		bottom: 10px;
	}
	#div4 {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	#div2:hover ~ #img1{
		z-index: 2;
	}
	#div2:hover{
		opacity:1;
	}
	#div3:hover ~ #img2{
		z-index: 2;
	}
	#div3:hover{
		opacity:1;
	}
	#div4:hover ~ #img3{
		z-index: 2;
	}
	#div4:hover{
		opacity:1;
	}
	.img01{
		position:absolute;
	}
	img{
		width: 1200px;
		height: 600px;
	}
</style>
</html>
