<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>学生信息页面 - 大学生成长信息跟踪系统</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="keywords" content="大学生成长信息跟踪系统">
  <meta name="description" content="大学生成长信息跟踪系统">
  <meta name="author" content="yinqi">
  <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/admin/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/static/admin/css/style.min.css" rel="stylesheet">
  <link href="/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
  <script src="/static/jquery/js/jquery-1.9.1.min.js" th:src="@{/static/jquery/js/jquery-1.9.1.min.js}"></script>
</head>
<script type="text/javascript">
    function selectMsg() {
        var id = document.getElementById("managerId").value;
        window.location.href="/admin/selectMsg/"+id;
    }

    function toUpdatePwdPage() {
        window.location.href="/admin/updatePasswordPage";
    }


    function deleteStudentById(id) {
        $.ajax({
            type: "POST",
            url: "/admin/student/delete/" + id,
            success: function (data) {
                location.reload();
                alert(data);
            },
            error: function (data) {
                alert("删除失败");
            }
        });
    }

    function updateFine(id, fine) {
        $.ajax({
            type: "POST",
            url: "/admin/student/updateFine?id=" + id + "&fine="+fine,
            success: function (data) {
                location.reload();
                alert(data);
            },
            error: function (data) {
                alert("更新失败");
            }
        });
    }

    function updateGraduate(id, graduate) {
        $.ajax({
            type: "POST",
            url: "/admin/student/updateGraduate?id=" + id + "&graduate="+graduate,
            success: function (data) {
                location.reload();
                alert(data);
            },
            error: function (data) {
                alert("更新失败");
            }
        });
    }

    function addOrUpdateAchievement(id, result) {
        if (result == 1){
            var title = "成绩管理";
            var url = "/admin/toAddManagerAchievementPage?id="+id;
            var width = 580;
            var height = 600;
            showLayer(title, url, width, height);
        } else if (result == 2) {
            var title = "成绩管理";
            var url = "/admin/toUpdateManagerAchievementPage?id="+id;
            var width = 580;
            var height = 600;
            showLayer(title, url, width, height);
        }
    }

    function showLayer(title, url, width, height, res) {
        console.log();
        var index = layer.open({
            type : 2,
            title : title,
            area : [ width + 'px', height + 'px' ],
            content : url
        });
        if (!width || !height) {
            layer.full(index);
        }

    }
</script>
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
       
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="/admin/toAdminIndex"><img src="/static/admin/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="/admin/toAdminIndex"><i class="mdi mdi-home"></i> 后台首页</a> </li>
            <li class="nav-item nav-item-has-subnav active open">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i>信息管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="/admin/notice/selectAll">通知信息管理</a> </li>
                <li th:if="${#session.getAttribute('no')} == 'admin'"> <a href="/admin/school/selectAll">学校信息管理</a> </li>
                <li th:if="${#session.getAttribute('no')} == 'admin'"> <a href="/admin/teacher/selectAll">教师信息管理</a> </li>
                <li th:if="${#session.getAttribute('no')} == 'admin'"> <a href="/admin/goods/selectAll">积分物品管理</a> </li>
                <li th:if="${#session.getAttribute('no')} == 'admin'"> <a href="/admin/redeem/selectAll">积分兑换管理</a> </li>
                <li th:if="${#session.getAttribute('no')} == 'admin'"> <a href="/admin/createRecord/selectAll">创建填写记录信息管理</a> </li>
                <li th:if="${#session.getAttribute('no')} != 'admin'"> <a href="/admin/recruit/selectAll">企业招聘信息管理</a> </li>
                <li class="active" th:if="${#session.getAttribute('no')} != 'admin'"> <a href="/admin/student/selectAll">学生信息管理</a> </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 学生信息管理 </span>
          </div>
          
          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <img class="img-avatar img-avatar-48 m-r-10" th:src="${#session.getAttribute('imagePath')}" th:alt="${#session.getAttribute('realName')}" />
                <span> <span th:text="${#session.getAttribute('no')}"/>:<span th:text="${#session.getAttribute('realName')}"/><span class="caret"></span></span>
              </a>
              <input type="hidden" id="managerId" th:value="${#session.getAttribute('id')}">
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a onclick="selectMsg()"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                <li> <a onclick="toUpdatePwdPage()"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li class="divider"></li>
                <li> <a href="/user/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>
            <!--切换主题配色-->
		    <li class="dropdown dropdown-skin">
			  <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
			  <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                <li class="drop-title"><p>主题</p></li>
                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                </li>
			    <li class="drop-title"><p>LOGO</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>头部</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>                      
                  </span>                                                    
                  <span>                                                     
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>侧边栏</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
				</li>
			  </ul>
			</li>
            <!--切换主题配色-->
          </ul>
          
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="/admin/student/selectAll" role="form">
                  <div class="input-group">
                    <input type="text" class="form-control" name="schoolName" placeholder="请输入学生名字" th:value="${studentName}" />
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="/admin/toAddStudentPage"><i class="mdi mdi-plus"></i> 新增</a>
                </div>
              </div>
              <div class="card-body">

                <div class="table-responsive" style="text-align:center">
                  <table class="table table-bordered" style="margin:auto;">
                    <thead align="center">
                      <tr align="center">
                        <th>学生id</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>学生头像</th>
                        <th>所属年级</th>
                        <!--<th>所在学校</th>-->
                        <th>所在学院</th>
                        <th>所在班级</th>
                        <th>是否优秀校友</th>
                        <th>是否已毕业</th>
                        <th>联系方式</th>
                        <th>邮箱</th>
                        <th>描述</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody id="demo">
                      <tr th:each="student:${studentList}" align="center" valign="center">
                        <form action="/admin/student/update">
                          <td><input type="hidden" id="id" name="id" th:value="${student.id}"><span th:text="${student.id}"></span></td>
                          <td><span th:text="${student.no}"></span></td>
                          <td><span th:text="${student.realName}"></span></td>
                          <td height="80px" width="80px"><img th:src="${student.imagePath}" style="width:80%;height: 80%;"></td>
                          <td><input class="form-control" name="grade" id="grade" th:value="${student.grade}" /></td>
                          <!--<td><span th:text="${student.schoolId}"></span></td>-->
                          <td><span th:text="${student.college}"></span></td>
                          <td><input name="classNo" class="form-control" th:value="${student.classNo}" /></td>
                          <td>
                            <span th:if="${student.fine} == false">否</span>
                            <span th:if="${student.fine} == true">是</span>
                          </td>
                          <td>
                            <span th:if="${student.graduate == false}">未毕业</span>
                            <span th:if="${student.graduate == true}">已毕业</span>
                          </td>
                          <td><span th:text="${student.tel}"></span></td>
                          <td><span th:text="${student.email}"></span></td>
                          <td><span th:text="${student.description}"></span></td>
                          <td>
                            <div class="btn-group">
                              <input type="submit" value="修改" class="btn btn-xs btn-default" title="保存编辑内容" data-toggle="tooltip" />
                              <input type="button" value="删除" class="btn btn-xs btn-default" th:onclick="'javascript:deleteStudentById('+${student.id}+')'" title="删除" data-toggle="tooltip" />
                              <input type="button" th:if="${student.fine} == false" value="设置优秀学生" class="btn btn-xs btn-default" th:onclick="'javascript:updateFine('+${student.id}+', true)'" title="设置优秀学生" data-toggle="tooltip" />
                              <input type="button" th:if="${student.fine} == true" value="取消优秀学生" class="btn btn-xs btn-default" th:onclick="'javascript:updateFine('+${student.id}+', false)'" title="取消优秀学生" data-toggle="tooltip" />
                              <input type="button" th:if="${student.graduate} == false" value="设置毕业生" class="btn btn-xs btn-default" th:onclick="'javascript:updateGraduate('+${student.id}+', true)'" title="设置毕业生" data-toggle="tooltip" />
                              <input type="button" th:if="${student.graduate} == true" value="取消毕业生" class="btn btn-xs btn-default" th:onclick="'javascript:updateGraduate('+${student.id}+', false)'" title="取消毕业生" data-toggle="tooltip" />
                              <!--<input type="button" th:if="${student.achievement} == null" value="添加成绩" class="btn btn-xs btn-default" onclick="showLayer('成绩管理', '/admin/toAddManagerAchievementPage', 580, 600, 1)" title="成绩管理" data-toggle="tooltip"/>-->
                              <input type="button" th:if="${student.achievement} == null" value="添加成绩" class="btn btn-xs btn-default" th:onclick="'javascript:addOrUpdateAchievement('+${student.id}+', 1)'" title="成绩管理" data-toggle="tooltip"/>
                              <input type="button" th:if="${student.achievement} != null" value="修改成绩" class="btn btn-xs btn-default" th:onclick="'javascript:addOrUpdateAchievement('+${student.id}+', 2)'" title="成绩管理" data-toggle="tooltip"/>
                            </div>
                          </td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                  <span class="prev">上一页</span>
                  <span class="next">下一页</span>
                  <span class="total"></span>
                  <span class="cur_page"></span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery.page.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/admin/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/admin/js/main.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});


(function($,window){
    var Page = function(ele,opt){
        this.$ele = ele;
        this.defaults ={
            curPage: 1,
            totalPage: 1,
            totalCount: 0,
            morePage: opt.morePage,
            perPageCount: opt.perPageCount
        }
        this.options = $.extend({},this.defaults,opt);
    }
    Page.prototype = {
        init: function () {
            //数据初始化
            this.dataInit();
            //显示当前页数、总页数
            this.pageInit();
            //分页处理
            this.pageFun();
            //销毁之前事件
            this.offEventFun();
            //事件处理
            this.eventFun();
            return this.$ele;
        },
        pageInit: function () {
            $(this.options.curPageEl).html("当前第" + this.options.curPage + "页");
            $(this.options.totalEl).html("共" + this.options.totalPage + "页");
        },
        pageFun: function () {
            var $list = this.$ele.children();
            $list.hide();
            var start = (this.options.curPage - 1) * this.options.perPageCount;
            if (this.options.curPage == this.options.totalPage) {
                var end = $list.length;
                for (var i = start; i < end; i++) {
                    $($list[i]).show();
                }
            } else {
                for (var i = start; i < start + this.options.perPageCount; i++) {
                    $($list[i]).show();
                }
            }
            this.pageInit();
        }
        ,
        dataInit: function () {
            var $list = this.$ele.children();
            this.options.curPage = 1;
            this.options.totalCount = $list.length;
            this.options.totalPage = Math.ceil($list.length / this.options.perPageCount);
        },
        eventFun:function(){
            //下一页
            var self = this;
            $(this.options.next).on("click", function () {
                if (self.options.curPage + 1 > self.options.totalPage) {
                    alert("已经是最后一页");
                    return;
                }
                self.options.curPage++;
                self.pageFun();
            });
            //上一页
            $(this.options.prev).on("click", function () {
                if (self.options.curPage - 1 < 1) {
                    alert("已经是第一页");
                    return;
                }
                self.options.curPage--;
                self.pageFun();
            });
            //下n页
            $(this.options.nextMore).on("click", function () {
                if (self.options.curPage + self.options.morePage > self.options.totalPage){
                    self.options.curPage = self.options.totalPage;
                    alert("已经是最后一页")
                }else{
                    self.options.curPage += self.options.morePage;
                }
                self.pageFun();
            });
            //上n页
            $(this.options.prevMore).on("click", function () {
                if (self.options.curPage - self.options.morePage < 1){
                    self.options.curPage = 1;
                    alert("已经是第一页")
                }else{
                    self.options.curPage -= self.options.morePage;
                }
                self.pageFun();
            });
        },
        offEventFun:function(){
            $(this.options.next).off("click");
            $(this.options.prev).off("click");
            $(this.options.nextMore).off("click");
            $(this.options.prevMore).off("click");
        }
    }
    $.fn.page = function(options){
        var page = new Page(this,options);
        return page.init();
    }
})(jQuery,window)
</script>

<script type="text/javascript">
    var pageParam = {
        next: '.next',//下一页按钮jq选择器
        prev: '.prev',//上一页按钮jq选择器
        nextMore: '.nextMore',//下n页按钮jq选择器
        prevMore: '.prevMore',//上n页按钮jq选择器
        totalEl: '.total',//总页数jq元素  元素内包含 eq:“共n页”
        curPageEl: '.cur_page',//当前页数jq元素  元素内包含 eq:“当前第n页”
        perPageCount: 4,//每页显示数量
        morePage: 5//上、下n页跳转数
    }
    //demo为包裹列表的容器
    $("#demo").page(pageParam);
</script>
</body>
</html>