<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.csgits.dao.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.sts.csgits.entity.Notice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="manager_id" property="managerId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="notice_type" property="noticeType" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BASEFIELD">
        id, title, manager_id, notice_type, content, create_time
    </sql>

    <insert id="insert" parameterType="com.sts.csgits.entity.Notice" useGeneratedKeys="true"
            keyProperty="id">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="managerId != null">
                manager_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="noticeType != null">
                notice_type,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="managerId != null">
                #{managerId, jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title, jdbcType=VARCHAR},
            </if>
            <if test="noticeType != null">
                #{noticeType, jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from notice
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.sts.csgits.entity.School">
        update notice
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="noticeType != null">
                notice_type = #{noticeType, jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content, jdbcType=VARCHAR},
            </if>
        </trim>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from notice
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from notice order by create_time desc
    </select>

    <select id="selectByNotice" parameterType="com.sts.csgits.entity.Notice" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from notice
        <where>
            <if test="managerId != null">
                and manager_id = #{managerId, jdbcType=INTEGER}
            </if>
            <if test="title != null">
                and title like CONCAT('%', #{title, jdbcType=VARCHAR}, '%')
            </if>
            <if test="noticeType != null">
                and notice_type = #{noticeType, jdbcType=INTEGER}
            </if>
            <if test="content != null">
                and content = #{content, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>