<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.csgits.dao.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.sts.csgits.entity.School">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
        <result column="teacher_num" property="teacherNum" jdbcType="INTEGER"/>
        <result column="total_num" property="totalNum" jdbcType="INTEGER"/>
        <result column="school_num" property="schoolNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BASEFIELD">
        id, name, description, teacher_num, total_num, school_num, image_path, create_time
    </sql>

    <insert id="insert" parameterType="com.sts.csgits.entity.School" useGeneratedKeys="true"
            keyProperty="id">
        insert into school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="imagePath != null">
                image_path,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description, jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                #{imagePath, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from school
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.sts.csgits.entity.School">
        update school
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                image_path = #{imagePath, jdbcType=VARCHAR},
            </if>
            <if test="teacherNum != null">
                teacher_num = #{teacherNum, jdbcType=INTEGER},
            </if>
            <if test="totalNum != null">
                total_num = #{totalNum, jdbcType=INTEGER},
            </if>
            <if test="schoolNum != null">
                school_num = #{schoolNum, jdbcType=INTEGER},
            </if>
        </trim>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from school
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from school order by create_time desc
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from school order by create_time desc
        limit 1
    </select>

    <select id="selectBySchool" parameterType="com.sts.csgits.entity.School" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from school
        <where>
            <if test="name != null">
                and name like concat('%', #{name, jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from school
        where name like concat('%', #{name, jdbcType=VARCHAR}, '%')
    </select>
</mapper>