<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.csgits.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.sts.csgits.entity.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sole" property="sole" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
        <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
        <result column="college" property="college" jdbcType="VARCHAR"/>
        <result column="class_no" property="classNo" jdbcType="VARCHAR" />
        <result column="fine" property="fine" jdbcType="BOOLEAN" />
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="credits" property="credits" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="achievement" property="achievement" jdbcType="VARCHAR"/>
        <result column="graduate" property="graduate" jdbcType="BOOLEAN"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BASEFIELD">
        id, sole, no, real_name, password, image_path, school_id, college, class_no, fine, description, credits, grade, achievement, graduate, tel, email, create_time
    </sql>

    <select id="isExistsTable" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from pg_statio_user_tables where relname = #{value};
    </select>

    <select id="executeSql" parameterType="java.lang.String">
        ${value}
    </select>

    <insert id="insert" parameterType="com.sts.csgits.entity.Student" useGeneratedKeys="true"
            keyProperty="id">
        insert into student_${schoolId}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sole != null">
                sole,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="imagePath != null">
                image_path,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="college != null">
                college,
            </if>
            <if test="classNo != null">
                class_no,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sole != null">
                #{sole, jdbcType=VARCHAR},
            </if>
            <if test="no != null">
                #{no, jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password, jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                #{imagePath, jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId, jdbcType=INTEGER},
            </if>
            <if test="college != null">
                #{college, jdbcType=VARCHAR},
            </if>
            <if test="classNo != null">
                #{classNo, jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade, jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                #{tel, jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="delete">
        delete from student_${schoolId}
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.sts.csgits.entity.Student">
        update student_${schoolId}
        <trim prefix="set" suffixOverrides=",">
            <if test="no != null">
                no = #{no, jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                image_path = #{imagePath, jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="fine != null">
                fine = #{fine, jdbcType=BOOLEAN},
            </if>
            <if test="graduate != null">
                graduate = #{graduate, jdbcType=BOOLEAN},
            </if>
            <if test="classNo != null">
                class_no = #{classNo, jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId, jdbcType=INTEGER},
            </if>
            <if test="college != null">
                college = #{college, jdbcType=VARCHAR},
            </if>
            <if test="credits != null">
                credits = #{credits, jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                grade = #{grade, jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email, jdbcType=VARCHAR},
            </if>
            <if test="achievement != null">
                achievement = #{achievement}::jsonb,
            </if>
        </trim>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="selectOneSchoolStudent" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from student_${schoolId}
        order by create_time desc
    </select>

    <select id="selectOneStudentBySole" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from student_${schoolId}
        where sole = #{sole, jdbcType=VARCHAR}
    </select>

    <select id="selectByStudent" parameterType="com.sts.csgits.entity.Student" resultMap="BaseResultMap">
        select
        <include refid="BASEFIELD"/>
        from student_${schoolId}
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="realName != null">
                and real_name like concat('%', #{realName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="fine != null">
                and fine = #{fine, jdbcType=BOOLEAN}
            </if>
        </where>
    </select>

    <select id="countNum" parameterType="com.sts.csgits.entity.Student" resultType="java.lang.Integer">
        select count(*) from student_${schoolId}
        <where>
            <if test="graduate != null">
                and graduate = #{graduate, jdbcType=BOOLEAN}
            </if>
        </where>
    </select>

</mapper>